<!-- views/partials/staffHeader.ejs -->
<div class="container mt-3">
  <div class="d-flex justify-content-start border-bottom pb-2">
    <a class="me-4 custom-link nav-link active" href="/staff/list">Staff List</a>
    <a class="me-4 custom-link nav-link" href="/staff/add">Add Staff</a>
  </div>
</div>
